<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/contact.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <title>Sign in</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
      <a class="navbar-brand" href="/">Adopte un chat</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adopter">Adopter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <% if (name) { %>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign out</span></a>
            </li>
          <% } else { %>
            <li class="nav-item active">
              <a class="nav-link" href="#">Sign in <span class="sr-only">(current)</span></a>
            </li>
          <% } %>

        </ul>
          <span class="navbar-text">
            Hello <%= name %> !
          </span>
      </div>
    </nav>
    

    <div class="container-fluid mt-5">
      <div class="row d-flex justify-content-center">
        <div class="jumbotron bg-transparent d-flex justify-content-center">
          <form action="/signin" method="POST">
            <h2 class="text-uppercase mt-3 font-weight-bold text-white text-center">SIGN IN !</h2>
            <div class="form-group mt-5">
              <input type="text" class="form-control" placeholder="Enter your name" id="name-input" name="name"/>
            </div>
            <div class="form-group pt-2">
              <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email"/>
            </div>
            <div class="text-center pt-3">
            <button type="submit" class="btn btn-secondary">Send</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
