* {
  margin: 0;
  padding: 0;
}

.carousel-item {
  height: 100vh;
  max-height: 920px;
  width: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p,
h3 {
  color: #006266 !important;
  font-weight: bold !important;
}

.btn {
  background-color: #006266 !important;
  height: 80px !important;
  width: 200px !important;
  font-size: 35px !important;
  font-family: "Helvetica" !important;
  color: white;
}

h3 {
  font-size: 90px !important;
}

p {
  font-size: 30px !important;
}

body {
  background-color: white !important;
}

.navbar {
  background-color: #006266 !important;
}

.btn {
  background-color: #006266 !important;
}

.background-image {
  opacity: 0.6;
}

.jumbotron {
  height: 800px !important;
}

/* body {
  background-color: black;
  margin-left: 50px;
  margin-top: 50px;
}

.logo {
  height: 100px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  display: flex;
  flex-basis: 50%;
  font-size: 20px;
  align-items: center;
  font-family: "Helvetica", sans-serif;
  color: white;
}

.title p {
  margin-left: 20px;
  color: #aeb9cd;
}

.menu {
  display: flex;
  flex-basis: 50%;
  justify-content: right;
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;
  list-style-type: none;
}

.menu ul li a {
  color: #aeb9cd;
  font-family: "Helvetica", sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 830px;
}

.text {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-self: center;
}

h1,
p {
  color: #e6c8a4;
  font-family: "Helvetica", sans-serif;
}

h1 {
  margin-bottom: 70px;
}

p {
  margin-bottom: 10px;
} */
